p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

body {
  text-align: justify;
  margin-left: 2cm;
  margin-right: 2cm;
  margin-top: 1cm;
  margin-bottom: 1cm;
  line-height: 1.5;
  text-indent: 1cm;
}

p {
  margin-bottom: 10px;
}
