

<table style="text-align:center"><tr><td colspan="5" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="4"><em>Variável Dependente:</em></td></tr>
<tr><td></td><td colspan="4" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td colspan="4">REELEITO_20_DUMMY</td></tr>
<tr><td style="text-align:left"></td><td>(Todos os Municípios)</td><td>(Menos de 20 mil habitantes)</td><td>(Entre 20 e 100 mil habitantes)</td><td>(Mais de 100 mil habitantes)</td></tr>
<tr><td colspan="5" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">LOG_POP_2019</td><td>-0.022</td><td>-0.014</td><td>-0.096</td><td>0.199</td></tr>
<tr><td style="text-align:left"></td><td>(0.044)</td><td>(0.080)</td><td>(0.188)</td><td>(0.492)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">CASOS_ACUM_OUT_10HAB</td><td>0.001<sup>**</sup></td><td>0.0001</td><td>0.001<sup>***</sup></td><td>0.002</td></tr>
<tr><td style="text-align:left"></td><td>(0.0003)</td><td>(0.0003)</td><td>(0.001)</td><td>(0.002)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">OBITOS_ACUM_OUT_10HAB</td><td>-0.014</td><td>-0.005</td><td>-0.037</td><td>-0.130</td></tr>
<tr><td style="text-align:left"></td><td>(0.012)</td><td>(0.014)</td><td>(0.027)</td><td>(0.080)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">den</td><td>-0.00004</td><td>0.003</td><td>0.001</td><td>-0.00004</td></tr>
<tr><td style="text-align:left"></td><td>(0.0001)</td><td>(0.002)</td><td>(0.001)</td><td>(0.0001)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">PMDB</td><td>0.076</td><td>0.164</td><td>-0.203</td><td>1.321<sup>*</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.124)</td><td>(0.151)</td><td>(0.240)</td><td>(0.775)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">PDT</td><td>0.177</td><td>0.325</td><td>-0.265</td><td>1.635</td></tr>
<tr><td style="text-align:left"></td><td>(0.179)</td><td>(0.223)</td><td>(0.327)</td><td>(1.333)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">PSDB</td><td>0.123</td><td>0.158</td><td>-0.052</td><td>0.721</td></tr>
<tr><td style="text-align:left"></td><td>(0.134)</td><td>(0.170)</td><td>(0.242)</td><td>(0.648)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">PP</td><td>0.375<sup>**</sup></td><td>0.393<sup>**</sup></td><td>0.652<sup>**</sup></td><td>-1.360</td></tr>
<tr><td style="text-align:left"></td><td>(0.156)</td><td>(0.186)</td><td>(0.327)</td><td>(0.850)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">PSD</td><td>0.136</td><td>0.268</td><td>-0.120</td><td>-0.649</td></tr>
<tr><td style="text-align:left"></td><td>(0.153)</td><td>(0.189)</td><td>(0.291)</td><td>(0.693)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">PSB</td><td>0.108</td><td>-0.018</td><td>0.274</td><td>0.058</td></tr>
<tr><td style="text-align:left"></td><td>(0.166)</td><td>(0.210)</td><td>(0.297)</td><td>(0.882)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">PT</td><td>0.097</td><td>0.226</td><td>-0.287</td><td></td></tr>
<tr><td style="text-align:left"></td><td>(0.210)</td><td>(0.269)</td><td>(0.364)</td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">PR</td><td>0.277</td><td>0.381<sup>*</sup></td><td>0.244</td><td>-0.610</td></tr>
<tr><td style="text-align:left"></td><td>(0.186)</td><td>(0.228)</td><td>(0.355)</td><td>(1.078)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">DEM</td><td>-0.015</td><td>0.137</td><td>-0.203</td><td>-0.688</td></tr>
<tr><td style="text-align:left"></td><td>(0.180)</td><td>(0.224)</td><td>(0.349)</td><td>(0.747)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">PTB</td><td>0.088</td><td>0.349</td><td>-0.163</td><td>-1.449</td></tr>
<tr><td style="text-align:left"></td><td>(0.192)</td><td>(0.236)</td><td>(0.411)</td><td>(0.931)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">MULHER</td><td>-0.485<sup>***</sup></td><td>-0.610<sup>***</sup></td><td>-0.392<sup>*</sup></td><td>-0.764</td></tr>
<tr><td style="text-align:left"></td><td>(0.115)</td><td>(0.140)</td><td>(0.227)</td><td>(0.853)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">CASADO</td><td>-0.225<sup>***</sup></td><td>-0.178<sup>*</sup></td><td>-0.313<sup>*</sup></td><td>-0.564</td></tr>
<tr><td style="text-align:left"></td><td>(0.084)</td><td>(0.104)</td><td>(0.162)</td><td>(0.459)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">ENS_SUPERIOR</td><td>0.088</td><td>0.050</td><td>0.225</td><td>0.572</td></tr>
<tr><td style="text-align:left"></td><td>(0.077)</td><td>(0.094)</td><td>(0.147)</td><td>(0.493)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">MEDICO</td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">MUN_POLO</td><td>-0.036</td><td>-0.579</td><td>0.022</td><td>-0.163</td></tr>
<tr><td style="text-align:left"></td><td>(0.150)</td><td>(0.385)</td><td>(0.201)</td><td>(0.476)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">CAPITAL</td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">METROPOLE</td><td>-0.017</td><td>-0.002</td><td>-0.023</td><td>-0.247</td></tr>
<tr><td style="text-align:left"></td><td>(0.157)</td><td>(0.224)</td><td>(0.278)</td><td>(0.511)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">gini_2010</td><td>-2.013<sup>***</sup></td><td>-1.934<sup>**</sup></td><td>-1.832</td><td>5.702</td></tr>
<tr><td style="text-align:left"></td><td>(0.703)</td><td>(0.850)</td><td>(1.491)</td><td>(5.166)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">SUDESTE</td><td>0.163</td><td>-0.136</td><td>0.246</td><td>2.454<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.166)</td><td>(0.217)</td><td>(0.292)</td><td>(1.034)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">NORDESTE</td><td>0.402<sup>***</sup></td><td>0.284</td><td>0.210</td><td>2.298<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.147)</td><td>(0.200)</td><td>(0.248)</td><td>(0.948)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">SUL</td><td>0.443<sup>**</sup></td><td>0.136</td><td>0.632<sup>*</sup></td><td>3.839<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.176)</td><td>(0.221)</td><td>(0.349)</td><td>(1.220)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">CENTRO_OESTE</td><td>0.269</td><td>0.116</td><td>0.396</td><td>1.485</td></tr>
<tr><td style="text-align:left"></td><td>(0.188)</td><td>(0.235)</td><td>(0.361)</td><td>(1.180)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">PP_TRANS_2019</td><td>-0.00001</td><td>-0.00002</td><td>0.00001</td><td>0.0001</td></tr>
<tr><td style="text-align:left"></td><td>(0.00002)</td><td>(0.00002)</td><td>(0.00003)</td><td>(0.0001)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>1.597<sup>***</sup></td><td>1.725<sup>**</sup></td><td>1.958</td><td>-7.449</td></tr>
<tr><td style="text-align:left"></td><td>(0.559)</td><td>(0.808)</td><td>(2.119)</td><td>(6.553)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td></tr>
<tr><td colspan="5" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>3,210</td><td>2,159</td><td>892</td><td>161</td></tr>
<tr><td style="text-align:left">R<sup>2</sup> Tjur</td><td>0.022</td><td>0.026</td><td>0.045</td><td>0.220</td></tr>
<tr><td style="text-align:left">Log Likelihood</td><td>-2,074.773</td><td>-1,374.619</td><td>-578.617</td><td>-87.425</td></tr>
<tr><td style="text-align:left">Akaike Inf. Crit.</td><td>4,201.547</td><td>2,801.238</td><td>1,209.233</td><td>224.850</td></tr>
<tr><td colspan="5" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="4" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
